#photoAnimate {
    #container {
        display: flex;
        #leftSide,
        #rightSidt {
            border: 1px solid black;
            width: 770px;
            height: 602px;
        }
    }
}